h1 {
    background-color: greenyellow;

    font-size: 3rem;
    font-weight: 900;
    font-family: 'Segoe UI Black';

    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.1rem;
}